<!DOCTYPE html>

<html dir="rtl" lang="ar">
        <%- include ('../partials/head.ejs', {page: 'حلويات ام نور '}) %>
        <%- include ('../partials/nav.ejs') %>  
        <main >
            <section class="hero is-medium mb-5">
                <div class="hero-body text-center">
                    <h1 class="title">    حلويات ام نور  <h1>
                </div>
            </section>
            <div class="grid-container">
                <% for (let idx =0; idx<cake.length; idx++){ %> <% 
                    const gateau = cake[idx] %>
                        <div class="card ca-index">
                            <a href="/cake/<%= gateau.id%>" >
                                <img  class=" ca-img card-img-top" src="<%= gateau.image%> " alt="Placeholder image" />
                            </a>
                            <div class="card-title text-center">
                                <a class="ca-name"href="/cake/<%= gateau.id%>" >
                                    <%= gateau.name %>
                                 </a>
                                <span class="price">
                                     MAD/kg<%= gateau.price%>
                                </span>
                            </div>
                        </div>
                        <!-- <div class="card">
                            <div class="card-image">
                                <img src=""/>
                                <h3>user.name</h3>
                            </div>
                            <div>
                                <a href="">review</a>
                            </div>
                        </div> -->
                <% } %> 
            </div>  
        
            <!--Add at bottom of card below the review content -->
            
           
        </main>
        <%- include ('../partials/footer.ejs') %> 
</body>
</html>
