<!DOCTYPE html>
<html dir="rtl" lang="ar">
    <%- include ('../partials/head.ejs', {page: 'Artist' }) %>
    <%- include ('../partials/nav.ejs') %>
    <style>
        img{
            width: 10px;
            height: 450px;
        }
        .card{
            border: solid 2px;
        }
        .edit{
            padding-left: 5px;
            padding-right: 15px;
        }
    </style>
    <main >
      <section class="hero is-medium mb-5">
          <div class="hero-body text-center">
              <h1 class="title">    حلويات ام نور  <h1>
          </div>
      </section>
          <div class="container p-5 ">
                <div class="card  ">
                    <img  class=" card-img-top " src="<%= cake.image%> " alt="Placeholder image" />
                    <div class="card-title text-center"><%= cake.name %>
                        <span>درهم/الكيلو<%= cake.price %></span>
                    </div>
                    <div class="row edit">
                        <div class="control col">
                            <a class="button is-info" href="/cake/<%= cake.id %>/edit">تعديل</a>
                        </div>
                        <div class="control col">
                            <form action="/cake/<%= cake.id %>?_method=DELETE" method="POST">
                                    <input class="button is-danger" type="submit" value="	Delete Cake"/>                    
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4>الوصف</h4>
                    <p>
                      <%= cake.description %>
                    </p>
                    </div>
                </div>      
              
            </div>
            <div class="d-grid gab-2  col-4 mx-auto or-btn">
              <a class="text-center" style="color:inherit" href="/order"> 
                <button  type="button" class="btn ">
                  للطلب
                </button>
                </a>
            </div>           
          <br>
          <div class="container-fluid carousel ">
              <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t39.30808-6/286218040_3182717588659639_1994716944190656208_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_ohc=ZMWHQxJjlRcAX86JQe2&_nc_ht=scontent-iad3-1.xx&oh=00_AfDnjgvNpkTkV0RVpHinZV2E6zaRNno-CyQW5F567VKWgA&oe=639EEF74" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t39.30808-6/315646260_176456888302381_6186324684006827071_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=Hy6YQyxnBswAX9XduK5&tn=hzJnrsuzL-_OcXPV&_nc_ht=scontent-iad3-1.xx&oh=00_AfCYBtyqnV7K33GXBGehaAR5F_BuEgYZivo2LrLxkCOWjw&oe=639EC3A4" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-6/309541873_166743895940347_6001957963738057099_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=YHyFA83Ux1MAX99lg4d&_nc_ht=scontent-iad3-2.xx&oh=00_AfD6Gf1UG3XZlxDKYaoxtXtKk1JDqwE2n-_qlIX03eR39g&oe=639FDC10" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <div>
              reviews
            </div>
          </main>
        <%- include ('../partials/footer.ejs') %>
</body>
</html> 