<!DOCTYPE html>
  <html dir="rtl" lang="ar">
        <%- include ('../partials/head.ejs', {page: 'Edit songs'}) %>
        <%- include ('../partials/nav.ejs') %>
       
        <section class="selector">
            <form action="/recipes/<%=recipe.id%>?_method=PUT" method="POST">
                <fieldset>
                    <legend> تعديل </legend>
                        <div class="form-group">
                          <label for="recipe-name"> اسم الحلوى </label>
                          <input type="text" placeholder ="اسم الحلوى " name="name" value="<%= recipe.name %>"/>
                        </div>
                        <div class="form-group">
                          <label for="recipe-image"> صورة الحلوى </label>
                          <input type="text" placeholder="http://" name="image" value="<%= recipe.image %> " />
                        </div>
                        <div class="form-group">
                          <label for="recipe-prep"> وقت الاعداد  </label>
                          <input type="number" placeholder=" وقت الاعداد " name="prep"  value="<%= recipe.prep %>"/>
                        </div>
                        <div class="form-group">
                          <label for="recipe-cooking"> وقت  الطهي </label>
                          <input type="number" placeholder="وقت  الطهي " name="cooking" value="<%= recipe.cooking %> " />
                        </div>
                        <div class="form-group">
                          <label for="recipe-ingredients"> المكونات </label>
                          <input type="text" placeholder="المكونات " name="ingredients" value="<%= recipe.ingredients %> " />
                        </div>
                        <div class="form-group">
                          <label for="recipe-direction">  تعليمات </label>
                          <input type="text" placeholder=" تعليمات " name="direction" value="<%= recipe.direction %> " />
                        </div>
                        

                        <div class="control">
                          <a class="button " href="/recipes/<%= recipe.id %> ">إلغاء</a>
                          <button class="btn btn-success" type="edit ">تعديل </button>
                        </div>
                </fieldset>
            </form>
        </section>
      </body>
    </html>
      